@tailwind base;
@tailwind components;
@tailwind utilities;

.todays-events {
    header {
        margin: 0 calc(1rem + 36.98px);

        .subtitle {
            text-transform: uppercase;
            font-size: 0.75rem;
        }

        .title {
            color: white;
            font-size: 1.75rem;
            
            span {
                color: black;
            }
        }
    }
}